.first, 
.second {
    font-size: 28px;
    font-family: Helvetica, Times 'Times New Roman', sans-serif;
}

.first {
    background-color: black;
    color: white;
}

.second {
    background-color: yellow;
}